* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0px;
  margin: 0px;
}
ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 992px;
  margin: 0px auto;
}
